
<!-- Two -->
  <section id="two">
  <% @lifts.each do |lift| %>
    <h2>Recent Lifts</h2>
    <div class="row">
      <article class="6u 12u$(xsmall) work-item">
        <a href="fulls/01.jpg" class="image fit thumb"> <%= image_tag('thumbs/01.jpg') %></a>
        <h3><%= link_to lift.name, lift_path(lift)  %></h3>
        <p>lift.description.</p>
      </article>

    <!-- </div>
    <ul class="actions">
      <li><a href="#" class="all_lifts_button"><%= button_to 'View All Lifts', lifts_path%></a></li>
    </ul> -->
    <ul class="actions">
      <li><a href="#" ><%= button_to 'Add Lift', new_lift_path %></a></li>
    </ul>
    <% end %>
  </section>
