<section id="two">
  <h2>Recent Lifts</h2>
  <div class="link_toggle">
<%= link_to "Map", lifts_path(view: "map") %>
<%= link_to "List", lifts_path(view: "list") %>
  <%= render @partial %>
</div>
</section>
